This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License. (http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)
# The sexiest wallpaper to use with this skin is Comet by Tigert.
# http://tigert.gimp.org/wallpapers/files/comet.jpeg
# I have included the wallpaper with the style. 
#
# http://fluxbox.sf.net/artwiz-aleczapka/
#
############################################################

rootCommand: 							fbsetbg -f ~/.fluxbox/backgrounds/comet.jpg

menu.alpha:							220
menu.bevelWidth:                        			2
menu.borderColor: 						#000000
menu.borderWidth:						1
menu.bullet:                            			triangle
menu.bullet.position:                   			right

menu.frame:							Raised Bevel1 Gradient Vertical
menu.frame.color:                       			#000000
menu.frame.colorTo:						#40545d
menu.frame.justify:                     			Left
menu.frame.textColor:						#cccccc

menu.title:                             			Raised
menu.title.color:                       			#333333
menu.title.colorTo:                    				#666666 
menu.title.justify:                     			Center
menu.title.pixmap:                     				bar2.xpm
menu.title.textColor:						#ffffff

menu.hilite:                           				Flat
menu.hilite.color:                     				#333333
menu.hilite.colorTo:                    			#666666
menu.hilite.pixmap:						gradbar.xpm 
menu.hilite.textColor: 						#ffffff


toolbar:                               				Flat	
toolbar.alpha:                         				220
toolbar.bevelWidth:                     			0
toolbar.borderColor:                    			#000000
toolbar.borderWidth:                    			0
toolbar.height:							22
toolbar.justify: 						center

toolbar.clock:                         				Raised Bevel1 Gradient Vertical
toolbar.clock.borderColor:          				#000000
toolbar.clock.borderWidth:              			0
toolbar.clock.color:                   				#333333
toolbar.clock.colorTo:            	     			#666666
toolbar.clock.justify:                  			Center
toolbar.clock.pixmap:                   			bar1.xpm
toolbar.clock.textColor:					#ffffff

toolbar.workspace:                      			Raised Bevel1 Gradient Vertical
toolbar.workspace.borderColor:          			#000000
toolbar.workspace.borderWidth:          			0
toolbar.workspace.color:					#333333                
toolbar.workspace.colorTo:					#666666
toolbar.workspace.justify:              			Center
toolbar.workspace.pixmap:       	       			bar1.xpm
toolbar.workspace.textColor:					#ffffff

toolbar.button:							Raised Bevel1 Gradient Vertical
toolbar.button.color: 						#000000
toolbar.button.colorTo: 					#000000
toolbar.button.pixmap:  					bar1.xpm
toolbar.button.picColor: 					#ffffff

toolbar.label: 							Raised Bevel1 Gradient Vertical
toolbar.label.color: 						#ffffff
toolbar.label.colorTo: 						#ffffff
toolbar.label.pixmap: 						bar1.xpm
toolbar.label.textColor: 					#000000

toolbar.iconbar: 						Raised Bevel1 Gradient Vertical
toolbar.iconbar.borderColor:            			#000000
toolbar.iconbar.borderWidth:            			0
toolbar.iconbar.empty:                  			Flat
toolbar.iconbar.empty.color:  	         			#ffffff
toolbar.iconbar.empty.colorTo:  	       			#ffffff
toolbar.iconbar.empty.pixmap:           			bar1.xpm

toolbar.iconbar.focused:   					Raised Bevel1 Gradient Vertical
toolbar.iconbar.focused.borderColor:    			#000000
toolbar.iconbar.focused.borderWidth:    			0
toolbar.iconbar.focused.color:          			#000000
toolbar.iconbar.focused.colorTo:       				#ffffff
toolbar.iconbar.focused.justify:        			Left
toolbar.iconbar.focused.pixmap:         			gradbar.xpm
toolbar.iconbar.focused.textColor: 				#ffffff

toolbar.iconbar.unfocused:              			Flat
toolbar.iconbar.unfocused.borderColor:  			#000000
toolbar.iconbar.unfocused.borderWidth:  			0
toolbar.iconbar.unfocused.color:        			#666666
toolbar.iconbar.unfocused.colorTo:      			#333333
toolbar.iconbar.unfocused.justify:      			Left
toolbar.iconbar.unfocused.pixmap:       			bar1.xpm
toolbar.iconbar.unfocused.textColor: 				#ffffff

window.alpha:                           			220	
window.bevelWidth:                      			0
window.borderColor:                     			#000000
window.borderWidth:                     			1	
window.handleWidth:                     			5
window.frameWidth:						2
window.justify:                         			left
window.title.height: 						16 

window.title.focus:                     			Raised
window.title.focus.color:               			#ffffff
window.title.focus.colorTo:             			#000000

window.title.unfocus:                   			Raised
window.title.unfocus.color:             			#000000
window.title.unfocus.colorTo:           			#000000

window.label.focus:                     			Raised Bevel1
window.label.focus.color:					#000000               
window.label.focus.pixmap:              			gradbar.xpm
window.label.focus.textColor:					#ffffff

window.label.unfocus:                   			Raised Bevel1
window.label.unfocus.color:            				#ffffff
window.label.unfocus.pixmap:            			bar1.xpm
window.label.unfocus.textColor:					#dedede

window.handle.focus:                    			Raised Bevel1
window.handle.focus.color:              			#ffffff
window.handle.focus.colorTo:            			#ffffff
window.handle.focus.pixmap:         				bar1.xpm   
 
window.handle.unfocus:                  			Raised Bevel1
window.handle.unfocus.color:            			#ffffff
window.handle.unfocus.colorTo:          			#ffffff
window.handle.unfocus.pixmap:      				bar1.xpm

window.grip.focus:                      			Raised Bevel1
window.grip.focus.color:                			#ffffff
window.grip.focus.colorTo:              			#ffffff
window.grip.focus.pixmap:          				bar2.xpm

window.grip.unfocus:                    			Raised Bevel1
window.grip.unfocus.color:              			#ffffff
window.grip.unfocus.colorTo:            			#ffffff
window.grip.unfocus.pixmap:             			bar1.xpm    

window.button.focus:						ParentRelative
window.button.focus.color:					#ffffff
window.button.focus.colorTo:					#ffffff
window.button.focus.picColor:					#000000

window.button.unfocus:						ParentRelative
window.button.unfocus.color:					#ffffff
window.button.unfocus.colorTo:					#ffffff
window.button.unfocus.picColor:					#000000

window.button.pressed:						ParentRelative
window.button.pressed.color:					#ffffff
window.button.pressed.colorTo:					#ffffff

window.frame.focusColor:                			#999999
window.frame.unfocusColor:              			#ffffff

window.close.pixmap:                    			close2.xpm
window.close.pressed.pixmap:            			close2a.xpm
window.close.unfocus.pixmap:            			close1.xpm
window.iconify.pixmap:                  			min2.xpm
window.iconify.pressed.pixmap:          			min2a.xpm
window.iconify.unfocus.pixmap:          			min1.xpm
window.maximize.pixmap:                 			max2.xpm
window.maximize.pressed.pixmap:         			max2a.xpm
window.maximize.unfocus.pixmap:         			max1.xpm
window.shade.pixmap:                    			bar1.xpm
window.shade.pressed.pixmap:            			bar1.xpm
window.shade.unfocus.pixmap:            			bar1.xpm

window.stick.pixmap:                    			stick1.xpm
window.stick.unfocus.pixmap:            			stick1.xpm
window.stick.pressed.pixmap:            			stick1a.xpm
window.stuck.pixmap:                    			stick1a.xpm
window.stuck.unfocus.pixmap:					stick1a.xpm
menu.frame.font: sans-8:bold
menu.title.font: sans-10:bold
toolbar.clock.font: sans-10:bold,shadow
toolbar.workspace.font: tahoma-10:bold,shadow
toolbar.iconbar.focused.font: sans-8:bold,shadow
toolbar.iconbar.unfocused.font: sans-8
window.font: sans-8
