/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  drun-display-format: "{icon} {name}";
  font: "JetBrainsMono Nerd Font 14";
}

@theme "gruvdark"

element {
    children: [element-icon, element-text];
}
