This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License. (http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

!---------------------------------------------
! Style name: 	SoftBox
! Style Author: pickupjojo (based on ikaro)
! Style Date:	Thu Jan 20 14:16:00 CET 2005
!---------------------------------------------

menu.title:								pixmap
menu.titleHeight:
menu.itemHeight:
menu.title.color:
menu.title.colorTo:
menu.title.justify:						Center
menu.title.pixmap:						toolbar.xpm
menu.title.textColor:					#161616

menu.bevelWidth:						1
menu.borderColor:						#bbc4cc
menu.borderWidth:						1

menu.bullet:							Triangle
menu.bullet.position:					Right
menu.frame: 							Raised Bevel Gradient CrossDiagonal
menu.frame.color:						#f1f1f1
menu.frame.colorTo:						#f1f1f3
menu.frame.disableColor:
menu.frame.justify:						Left
menu.frame.pixmap:						
menu.frame.textColor:					#161616

menu.hilite:							pixmap
menu.hilite.Color:						
menu.hilite.colorTo:					
menu.hilite.pixmap:						iconbar.xpm
menu.hilite.textColor:					#f3f3f3

menu.roundCorners:
menu.selected.pixmap:					selected.xpm
menu.unselected.pixmap:
menu.submenu.pixmap:

toolbar:								pixmap
toolbar.alpha:							255
toolbar.bevelWidth:						1
toolbar.borderColor:					#c8cbd1
toolbar.borderWidth:					1
toolbar.color:
toolbar.colorTo:
toolbar.height:							14
toolbar.iconbar.borderColor:
toolbar.iconbar.borderWidth:			0
toolbar.pixmap:							toolbar.xpm		
toolbar.shaped:							False

toolbar.iconbar.empty:					pixmap
toolbar.iconbar.empty.color:
toolbar.iconbar.empty.colorTo:
toolbar.iconbar.empty.pixmap:			toolbar.xpm

toolbar.clock:							pixmap
toolbar.clock.borderColor:
toolbar.clock.borderWidth:				0
toolbar.clock.color:
toolbar.clock.colorTo:
toolbar.clock.justify:					Center
toolbar.clock.pixmap:					toolbar.xpm
toolbar.clock.textColor:				#161616

toolbar.workspace: 						pixmap
toolbar.workspace.borderColor:
toolbar.workspace.borderWidth:          0
toolbar.workspace.color:
toolbar.workspace.colorTo:
toolbar.workspace.justify:              Center
toolbar.workspace.pixmap:              	toolbar.xpm
toolbar.workspace.textColor:			#161616

toolbar.iconbar.focused:				pixmap
toolbar.iconbar.focused.borderColor:
toolbar.iconbar.focused.borderWidth:	0
toolbar.iconbar.focused.color:
toolbar.iconbar.focused.colorTo:
toolbar.iconbar.focused.justify:        Center
toolbar.iconbar.focused.pixmap:			iconbar.xpm
toolbar.iconbar.focused.textColor:		#f2f2f2

toolbar.iconbar.unfocused:				pixmap
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused.borderWidth:  0
toolbar.iconbar.unfocused.color:
toolbar.iconbar.unfocused.colorTo:
toolbar.iconbar.unfocused.justify:      Center
toolbar.iconbar.unfocused.pixmap:		toolbar.xpm
toolbar.iconbar.unfocused.textColor:	#627283


toolbar.button:                         pixmap
toolbar.button.pixmap:                  toolbar.xpm
toolbar.button.color:
toolbar.button.colorTo:
toolbar.button.picColor:                #393b3a
toolbar.button.pressed:
toolbar.button.pressed.pixmap:          toolbar.xpm
toolbar.button.pressed.color:
toolbar.button.pressed.colorTo:

!*/
window.roundCorners:			   
window.title.height: 			20      
window.justify:				Center
window.alpha:                           255
window.bevelWidth:                      0
window.borderColor:                     #f2f2f2
window.borderWidth:                     1

window.shade.pixmap:                    toolbar.xpm
window.shade.pressed.pixmap:            toolbar.xpm
window.shade.unfocus.pixmap:            wtitle-unfocus.xpm
window.title.focus:                     pixmap
window.title.focus.color:               #000000
window.title.focus.colorTo:             #000000
window.title.focus.pixmap:		wtitle.xpm

!*/
window.title.unfocus:			pixmap
window.title.unfocus.color:		#000000
window.title.unfocus.colorTo:		#000000
window.title.unfocus.pixmap:		wtitle.xpm
!/*

!*/
window.label.focus:                     pixmap
window.label.focus.color:		#000000 
window.label.focus.colorTo:             #000000
window.label.focus.pixmap:              wtitle.xpm
window.label.focus.textColor:		#40423f
!/*

!*/
window.label.unfocus:			pixmap
window.label.unfocus.color:		#000000					
window.label.unfocus.colorTo:           #000000
window.label.unfocus.pixmap: 		wtitle.xpm
window.label.unfocus.textColor:		#68636b
!/*

!*/
window.close.pixmap:			focus.xpm
window.close.pressed.pixmap:		focus.xpm 
window.close.unfocus.pixmap:		unfocus.xpm 
!/*


window.maximize.pixmap:			focus.xpm
window.maximize.pressed.pixmap:		focus.xpm
window.maximize.unfocus.pixmap:		unfocus.xpm

window.iconify.pixmap:			focus.xpm
window.iconify.pressed.pixmap:		focus.xpm
window.iconify.unfocus.pixmap:		unfocus.xpm

window.stick.pixmap:			unfocus.xpm
window.stick.pressed.pixmap:		unfocus.xpm
window.stick.unfocus.pixmap:		unfocus.xpm

window.stuck.pixmap:			focus.xpm
window.stuck.unfocus.pixmap:		unfocus.xpm

!*/
window.grip.focus:			pixmap
window.grip.focus.color:		#000000
window.grip.focus.colorTo:		#000000
window.grip.focus.pixmap:		wtitle.xpm

!*/
window.grip.unfocus:			pixmap
window.grip.unfocus.color:		#000000
window.grip.unfocus.colorTo:		#000000
window.grip.unfocus.pixmap:		wtitle.xpm

!*/
window.handle.focus:			pixmap
window.handle.focus.color:		#000000
window.handle.focus.colorTo:		#000000
window.handle.focus.pixmap:		wtitle.xpm

!*/
window.handle.unfocus:			pixmap
window.handle.unfocus.color:		#000000
window.handle.unfocus.colorTo:		#000000
window.handle.unfocus.pixmap:		wtitle.xpm
window.handleWidth:                     5
!/*

slit:									Raised Bevel Gradient horizontal
slit.pixmap:		
slit.color:								#eeeeee
slit.colorTo:							#dfdfdf
slit.borderWidth:						1 
slit.bevelWidth:						1
slit.borderColor:						#c0c0c0
menu.frame.font: sans-8:bold
menu.title.font: sans-10:bold
toolbar.clock.font: sans-10:bold,shadow
toolbar.workspace.font: tahoma-10:bold,shadow
toolbar.iconbar.focused.font: sans-8:bold,shadow
toolbar.iconbar.unfocused.font: sans-8
window.font: sans-8
