This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License. (http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

!---------------------------------------------
! Style name: 	Office
! Style Author: ikaro ( ikaro@fluxbox.org )
! Style Date: Mon Oct  4 02:01:02 CEST 2004	
!---------------------------------------------
menu.title:								pixmap
menu.titleHeight:						16
menu.itemHeight:						16
menu.title.color:
menu.title.colorTo:
menu.title.justify:						Center
menu.title.pixmap:						menu.xpm
menu.title.textColor:					#f2f2f2

menu.bevelWidth:						0
menu.borderColor:						#161616
menu.borderWidth:						1

menu.bullet:							Triangle
menu.bullet.position:					Right
menu.frame: 							Raised Bevel Gradient Vertical
menu.frame.color:						#f7f7f7
menu.frame.colorTo:						#f7f7f7
menu.frame.disableColor:
menu.frame.justify:						Left
menu.frame.pixmap:						
menu.frame.textColor:					#000000

menu.hilite:							Raised Bevel Gradient Horizontal
menu.hilite.Color:						#c9d3dd
menu.hilite.colorTo:					#b2bcc5
menu.hilite.pixmap:
menu.hilite.textColor:					#000000

menu.roundCorners:
menu.selected.pixmap:					selected.xpm
menu.unselected.pixmap:
menu.submenu.pixmap:

toolbar:								pixmap
toolbar.alpha:							255
toolbar.bevelWidth:						1
toolbar.borderColor:					#000000
toolbar.borderWidth:					1
toolbar.color:
toolbar.colorTo:
toolbar.height:							16
toolbar.iconbar.borderColor:
toolbar.iconbar.borderWidth:			0
toolbar.pixmap:							menu.xpm		
toolbar.shaped:							False

toolbar.iconbar.empty:					pixmap
toolbar.iconbar.empty.color:
toolbar.iconbar.empty.colorTo:
toolbar.iconbar.empty.pixmap:			menu.xpm

toolbar.clock:							pixmap
toolbar.clock.borderColor:
toolbar.clock.borderWidth:				0
toolbar.clock.color:
toolbar.clock.colorTo:
toolbar.clock.justify:					Center
toolbar.clock.pixmap:					menu.xpm
toolbar.clock.textColor:				#f2f2f2

toolbar.workspace: 						pixmap
toolbar.workspace.borderColor:
toolbar.workspace.borderWidth:          0
toolbar.workspace.color:
toolbar.workspace.colorTo:
toolbar.workspace.justify:              Center
toolbar.workspace.pixmap:              	menu.xpm
toolbar.workspace.textColor:			#f2f2f2

toolbar.iconbar.focused:				pixmap
toolbar.iconbar.focused.borderColor:
toolbar.iconbar.focused.borderWidth:	0
toolbar.iconbar.focused.color:
toolbar.iconbar.focused.colorTo:
toolbar.iconbar.focused.justify:        Center
toolbar.iconbar.focused.pixmap:			iconbar.xpm
toolbar.iconbar.focused.textColor:		#f2f2f2

toolbar.iconbar.unfocused:				pixmap
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused.borderWidth:  0
toolbar.iconbar.unfocused.color:
toolbar.iconbar.unfocused.colorTo:
toolbar.iconbar.unfocused.justify:      Center
toolbar.iconbar.unfocused.pixmap:		menu.xpm
toolbar.iconbar.unfocused.textColor:	#c9ccce

toolbar.button:                         pixmap
toolbar.button.pixmap:                  menu.xpm
toolbar.button.color:
toolbar.button.colorTo:
toolbar.button.picColor:                #c9ccce
toolbar.button.pressed:
toolbar.button.pressed.pixmap:          menu.xpm
toolbar.button.pressed.color:
toolbar.button.pressed.colorTo:

window.roundCorners:
window.title.height: 					22
window.justify:							Center
window.alpha:                           255
window.bevelWidth:                      0
window.borderColor:						#161616
window.borderWidth:                     1

window.shade.pixmap:
window.shade.pressed.pixmap:
window.shade.unfocus.pixmap:

window.title.focus:                     pixmap
window.title.focus.color:
window.title.focus.colorTo:
window.title.focus.pixmap:				menu.xpm

window.label.focus:						ParentRelative
window.label.focus.color:
window.label.focus.colorTo:
window.label.focus.pixmap:
window.label.focus.textColor:			#f2f2f2

window.title.unfocus:					pixmap
window.title.unfocus.color:
window.title.unfocus.colorTo:
window.title.unfocus.pixmap:			menu-off.xpm

window.label.unfocus:					ParentRelative
window.label.unfocus.color:
window.label.unfocus.colorTo:
window.label.unfocus.pixmap:
window.label.unfocus.textColor:			#c9ccce

window.close.pixmap:					close.xpm
window.close.pressed.pixmap:			close.xpm		 
window.close.unfocus.pixmap:			close-off.xpm

window.maximize.pixmap:					max.xpm
window.maximize.pressed.pixmap:			max.xpm
window.maximize.unfocus.pixmap:			max-off.xpm

window.iconify.pixmap:					icon.xpm
window.iconify.pressed.pixmap:			icon.xpm
window.iconify.unfocus.pixmap:			icon-off.xpm

window.stick.pixmap:					stick.xpm
window.stick.pressed.pixmap:			stuck.xpm
window.stick.unfocus.pixmap:			stick-off.xpm

window.stuck.pixmap:					stuck.xpm
window.stuck.unfocus.pixmap:			stuck-off.xpm

window.grip.focus:						pixmap
window.grip.focus.color:
window.grip.focus.colorTo:
window.grip.focus.pixmap:				menu.xpm

window.grip.unfocus:					pixmap
window.grip.unfocus.color:
window.grip.unfocus.colorTo:
window.grip.unfocus.pixmap:				menu-off.xpm		

window.handle.focus:					pixmap
window.handle.focus.color:
window.handle.focus.colorTo:
window.handle.focus.pixmap:				menu.xpm

window.handle.unfocus:					pixmap
window.handle.unfocus.color:
window.handle.unfocus.colorTo:
window.handle.unfocus.pixmap:			menu-off.xpm
window.handleWidth:                     6

slit:									Raised Bevel Gradient horizontal
slit.pixmap:		
slit.color:								#eeeeee
slit.colorTo:							#dfdfdf
slit.borderWidth:						1 
slit.bevelWidth:						1
slit.borderColor:						#c0c0c0
menu.frame.font: sans-8:bold
menu.title.font: sans-10:bold
toolbar.clock.font: sans-10:bold,shadow
toolbar.workspace.font: tahoma-10:bold,shadow
toolbar.iconbar.focused.font: sans-8:bold,shadow
toolbar.iconbar.unfocused.font: sans-8
window.font: sans-8
