This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License. (http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

# Style name: OSX-Graphite-Normal-2.6
# Style Author: ikaro ( ikaro@fluxbox.org )
# Style Date: Sun Feb  8 01:11:05 CET 2004
# Style Ported and moded from a FVWM theme.
  
#  Credits: 
# o Original author:
#	Larry Gensch <larry.gensch@digital.com>
# Special guest:
# 	Lauri Hakkarainen a.k.a BioNik, bionik[@t]2ndpoint.fi

menu.title:				pixmap
menu.title.color:			
menu.title.colorTo:			
menu.title.justify:			Center
menu.title.pixmap:			title-active.xpm
menu.title.textColor:			#4a5e7d

menu.bevelWidth:			0
menu.borderColor:			#000000
menu.borderWidth:			1

menu.bullet:				triangle
menu.bullet.position:			Right

menu.frame: 				Raised Bevel1 Gradient Vertical
menu.frame.color:			#ffffff
menu.frame.colorTo:			#f2f2f2
menu.frame.disableColor:		#000000
menu.frame.justify:			Right
menu.frame.pixmap:			
menu.frame.textColor:			#000000

menu.hilite:				pixmap
menu.hilite.Color:
menu.hilite.colorTo:
menu.hilite.pixmap:			title-inactive.xpm
menu.hilite.textColor:			#ffffff

menu.roundCorners:			 
menu.selected.pixmap:			selected.xpm			
menu.unselected.pixmap:
menu.submenu.pixmap:			

toolbar:				pixmap			
toolbar.alpha:				255
toolbar.bevelWidth:			0
toolbar.borderColor:			#b3b8c1
toolbar.borderWidth:			1	
toolbar.color:
toolbar.colorTo:			
toolbar.height:				16		
toolbar.pixmap:				title-active.xpm
toolbar.shaped:				true
toolbar.iconbar.empty:			title-active.xpm
toolbar.iconbar.empty.color:
toolbar.iconbar.empty.colorTo:
toolbar.iconbar.empty.pixmap:		title-active.xpm			

toolbar.clock:				pixmap
toolbar.clock.borderColor:
toolbar.clock.borderWidth:
toolbar.clock.color:
toolbar.clock.colorTo:
toolbar.clock.justify:			center
toolbar.clock.pixmap:			title-active.xpm
toolbar.clock.textColor:		#4a5e7d

toolbar.workspace:			pixmap
toolbar.workspace.borderColor:
toolbar.workspace.borderWidth:
toolbar.workspace.color:
toolbar.workspace.colorTo:
toolbar.workspace.justify:		center
toolbar.workspace.pixmap:		title-active.xpm
toolbar.workspace.textColor:		#4a5e7d

toolbar.iconbar.borderColor:
toolbar.iconbar.borderWidth:		0
toolbar.iconbar.focused:		pixmap
toolbar.iconbar.focused.borderColor:
toolbar.iconbar.focused.borderWidth:
toolbar.iconbar.focused.color:
toolbar.iconbar.focused.colorTo:
toolbar.iconbar.focused.justify:
toolbar.iconbar.focused.pixmap:		title-inactive.xpm
toolbar.iconbar.focused.textColor:	#bac0c9

toolbar.iconbar.unfocused:		pixmap
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused.borderWidth:
toolbar.iconbar.unfocused.color:
toolbar.iconbar.unfocused.colorTo:
toolbar.iconbar.unfocused.justify:
toolbar.iconbar.unfocused.pixmap:	title-active.xpm
toolbar.iconbar.unfocused.textColor:	#4a5865

window.roundCorners:			TopLeft TopRight
window.title.height: 			19
window.justify:				Center
window.alpha:                           255
window.bevelWidth:                      0
window.borderColor:                     #4a5865
window.borderWidth:                     1

window.shade.pixmap:
window.shade.pressed.pixmap:
window.shade.unfocus.pixmap:
window.title.focus:                     pixmap
window.title.focus.color:
window.title.focus.colorTo:
window.title.focus.pixmap:		title-active.xpm

window.title.unfocus:			pixmap
window.title.unfocus.color:
window.title.unfocus.colorTo:
window.title.unfocus.pixmap:		title-inactive.xpm

window.label.focus:			ParentRelative
window.label.focus.color:
window.label.focus.colorTo:
window.label.focus.pixmap:
window.label.focus.textColor:		#4a5e7d

window.label.unfocus:			ParentRelative
window.label.unfocus.color:
window.label.unfocus.colorTo:
window.label.unfocus.pixmap:
window.label.unfocus.textColor:		#313f52

window.close.pixmap:			close.xpm			
window.close.pressed.pixmap:		close-press.xpm	 
window.close.unfocus.pixmap:		close-unfocus.xpm

window.maximize.pixmap:			max.xpm
window.maximize.pressed.pixmap:		max-press.xpm
window.maximize.unfocus.pixmap:		off.xpm

window.iconify.pixmap:			icon.xpm
window.iconify.pressed.pixmap:		icon-press.xpm
window.iconify.unfocus.pixmap:		off.xpm

window.stick.pixmap:			stick.xpm
window.stick.pressed.pixmap:		stuck.xpm
window.stick.unfocus.pixmap:		stick-unfocus.xpm

window.stuck.pixmap:			stuck.xpm
window.stuck.unfocus.pixmap:		stuck-unfocus.xpm

window.grip.focus:			Raised Bevel1 Gradient Vertical
window.grip.focus.color:		#ffffff
window.grip.focus.colorTo:		#f2f2f2
window.grip.focus.pixmap:		

window.grip.unfocus:			Sunken Bevel1 Gradient Vertical
window.grip.unfocus.color:		#546980
window.grip.unfocus.colorTo:		#546980
window.grip.unfocus.pixmap:				

window.handle.focus:			Raised Bevel1 gradient Vertical
window.handle.focus.color:		#ffffff
window.handle.focus.colorTo:		#f2f2f2
window.handle.focus.pixmap:		

window.handle.unfocus:			Sunken Bevel1 Gradient Vertical
window.handle.unfocus.color:		#546980
window.handle.unfocus.colorTo:		#546980
window.handle.unfocus.pixmap:			
window.handleWidth:                     5

slit:					
slit.pixmap:
slit.color:
slit.colorTo:
slit.borderWidth:
slit.bevelWidth:
slit.borderColor:
toolbar.button.pixmap:			title-active.xpm
toolbar.button.pressed.pixmap:	title-active.xpm
toolbar.button.picColor:		#4a5e7d
!EOF
menu.frame.font: sans-8:bold
menu.title.font: sans-10:bold
toolbar.clock.font: sans-10:bold,shadow
toolbar.workspace.font: tahoma-10:bold,shadow
toolbar.iconbar.focused.font: sans-8:bold,shadow
toolbar.iconbar.unfocused.font: sans-8
window.font: sans-8
