This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License. (http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with this program; if not, write to the Free Software
#Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

!---------------------------------------------
! Style name: Azure
! Style Author: ikaro ( ikaro@fluxbox.org )
! Style Date: Mon Aug  9 10:52:34 CEST 2004
!---------------------------------------------

menu.title:								Raised Bevel Gradient Vertical
menu.title.color:						#376997
menu.title.colorTo:						#385067
menu.title.justify:						Center
menu.title.pixmap:
menu.title.textColor:					#fefefe

menu.bevelWidth:						0
menu.borderColor:						#275076
menu.borderWidth:						1

menu.bullet:							Triangle
menu.bullet.position:					Right
menu.frame: 							Raised Bevel Gradient Vertical
menu.frame.color:						#f6f6f6
menu.frame.colorTo:						#f2f2f2
menu.frame.disableColor:
menu.frame.justify:						Right
menu.frame.pixmap:
menu.frame.textColor:					#000000

menu.hilite:							Raised Bevel Gradient Vertical
menu.hilite.Color:						#376997
menu.hilite.colorTo:					#385067
menu.hilite.pixmap:
menu.hilite.textColor:					#fefefe

menu.roundCorners:
menu.selected.pixmap:
menu.unselected.pixmap:
menu.submenu.pixmap:

toolbar:								pixmap
toolbar.alpha:							255
toolbar.bevelWidth:						1
toolbar.borderColor:					#275076
toolbar.borderWidth:					1
toolbar.color:
toolbar.colorTo:
toolbar.height:							16
toolbar.iconbar.borderColor:
toolbar.iconbar.borderWidth:			0
toolbar.pixmap:							toolbar.xpm		
toolbar.shaped:							False

toolbar.iconbar.empty:					Raised Bevel Gradient Vertical
toolbar.iconbar.empty.color:
toolbar.iconbar.empty.colorTo:
toolbar.iconbar.empty.pixmap:			toolbar.xpm

toolbar.clock:							pixmap
toolbar.clock.borderColor:
toolbar.clock.borderWidth:				0
toolbar.clock.color:
toolbar.clock.colorTo:
toolbar.clock.justify:					Center
toolbar.clock.pixmap:					toolbar.xpm
toolbar.clock.textColor:				#353736

toolbar.workspace: 						pixmap
toolbar.workspace.borderColor:
toolbar.workspace.borderWidth:          0
toolbar.workspace.color:
toolbar.workspace.colorTo:
toolbar.workspace.justify:              Center
toolbar.workspace.pixmap:              	toolbar.xpm
toolbar.workspace.textColor:			#353736

toolbar.iconbar.focused:				Raised Bevel Gradient Vertical
toolbar.iconbar.focused.borderColor:
toolbar.iconbar.focused.borderWidth:	0
toolbar.iconbar.focused.color:          #376997
toolbar.iconbar.focused.colorTo:	 	#385067
toolbar.iconbar.focused.justify:        Center
toolbar.iconbar.focused.pixmap:
toolbar.iconbar.focused.textColor:		#eceeed

toolbar.iconbar.unfocused:				pixmap
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused.borderWidth:  0
toolbar.iconbar.unfocused.color:
toolbar.iconbar.unfocused.colorTo:
toolbar.iconbar.unfocused.justify:      Center
toolbar.iconbar.unfocused.pixmap:		toolbar.xpm
toolbar.iconbar.unfocused.textColor:	#727272

toolbar.button:                         pixmap
toolbar.button.pixmap:                  toolbar.xpm
toolbar.button.color:
toolbar.button.colorTo:
toolbar.button.picColor:                #37648e
toolbar.button.pressed:
toolbar.button.pressed.pixmap:          toolbar.xpm
toolbar.button.pressed.color:
toolbar.button.pressed.colorTo:

window.roundCorners:
window.title.height: 					18
window.justify:							Center
window.alpha:                           255
window.bevelWidth:                      3
window.borderColor:
window.borderWidth:                     0

window.shade.pixmap:
window.shade.pressed.pixmap:
window.shade.unfocus.pixmap:

window.title.focus:                     Raised Bevel Gradient Vertical
window.title.focus.color:				#376997
window.title.focus.colorTo:             #385067
window.title.focus.pixmap:

window.label.focus:						Raised Bevel1 Gradient Vertical
window.label.focus.color:				#ffffff
window.label.focus.colorTo:				#53b0ff
window.label.focus.pixmap:
window.label.focus.textColor:			#000000

window.title.unfocus:					Raised Bevel Gradient Vertical
window.title.unfocus.color:				#154470
window.title.unfocus.colorTo:			#154470
window.title.unfocus.pixmap:

window.label.unfocus:					Raised Bevel Gradient Vertical
window.label.unfocus.color:				#154470
window.label.unfocus.colorTo:			#154470
window.label.unfocus.pixmap:
window.label.unfocus.textColor:			#8f9bb2

window.button.focus:					Raised Bevel Gradient Vertical
window.button.focus.pixmap:
window.button.focus.color:				#376997
window.button.focus.colorTo:			#385067

window.button.unfocus:					Raised Bevel Gradient Vertical
window.button.unfocus.pixmap:
window.button.unfocus.color:			#154470
window.button.unfocus.colorTo:			#154470

window.button.pressed:					Sunken Bevel Gradient vertical
window.button.pressed.pixmap:
window.button.pressed.color:			#385067
window.button.pressed.colorTo:			#000000

window.button.focus.picColor:			#fefefe
window.button.unfocus.picColor:			#829ab1

window.close.pixmap:	
window.close.pressed.pixmap:					 
window.close.unfocus.pixmap:			

window.maximize.pixmap:	
window.maximize.pressed.pixmap:			
window.maximize.unfocus.pixmap:			

window.iconify.pixmap:					
window.iconify.pressed.pixmap:			
window.iconify.unfocus.pixmap:			

window.stick.pixmap:				
window.stick.pressed.pixmap:		
window.stick.unfocus.pixmap:			

window.stuck.pixmap:					
window.stuck.unfocus.pixmap:		

window.grip.focus:						Raised Bevel Gradient Vertical
window.grip.focus.color:				#376997
window.grip.focus.colorTo:				#385067
window.grip.focus.pixmap:

window.grip.unfocus:					Raised Bevel Gradient Vertical
window.grip.unfocus.color:				#154470
window.grip.unfocus.colorTo:			#154470
window.grip.unfocus.pixmap:						

window.handle.focus:					Raised Bevel Gradient Vertical
window.handle.focus.color:		 		#376997
window.handle.focus.colorTo:			#385067
window.handle.focus.pixmap:

window.handle.unfocus:					Raised Bevel Gradient Vertical
window.handle.unfocus.color:			#154470
window.handle.unfocus.colorTo:			#154470
window.handle.unfocus.pixmap:
window.handleWidth:                     5

slit:									Raised Bevel Gradient Vertical
slit.pixmap:		
slit.color:								#ffffff	
slit.colorTo:							#b2b2b2
slit.borderWidth:						1 
slit.bevelWidth:						1
slit.borderColor:						#275076
menu.frame.font: sans-8:bold
menu.title.font: sans-10:bold
toolbar.clock.font: sans-10:bold,shadow
toolbar.workspace.font: tahoma-10:bold,shadow
toolbar.iconbar.focused.font: sans-8:bold,shadow
toolbar.iconbar.unfocused.font: sans-8
window.font: sans-8
